/*Actions*/
.invoice-actions {
    padding: 1rem 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-transition: ease-in .1s;
    -o-transition: ease-in .1s;
    transition: ease-in .1s;
}

.invoisic-btn-group, .invoisic-btn-group-vertical {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}

.invoisic-btn {
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    color: #555;
    background: #f4f4f4;
    background: -webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e4e4e4));
    background: -webkit-linear-gradient(#f4f4f4,#e4e4e4);
    background: -o-linear-gradient(#f4f4f4,#e4e4e4);
    background: linear-gradient(#f4f4f4,#e4e4e4);
    border-radius: 3px;
    border: 1px solid #999;
    display: inline-block;
    padding: 6px 12px;
    overflow: hidden;
    text-decoration: none;
    min-width: 60px;
    cursor: pointer;
    -webkit-transition: ease-in .1s;
    -o-transition: ease-in .1s;
    transition: ease-in .1s;
}

.invoisic-btn:hover {
    background: -webkit-gradient(linear,left top,left bottom,from(#f7f7f7),to(#e6e6e6));
    background: -webkit-linear-gradient(#f7f7f7,#e6e6e6);
    background: -o-linear-gradient(#f7f7f7,#e6e6e6);
    background: linear-gradient(#f7f7f7,#e6e6e6);
}
.invoisic-btn.active, .invoisic-btn.active:hover {
    color: #888;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#bbb),to(#ddd));
    background-image: -webkit-linear-gradient(#bbb,#ddd);
    background-image: -o-linear-gradient(#bbb,#ddd);
    background-image: linear-gradient(#bbb,#ddd);
    -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,.3), 0 0 0 rgba(255,255,255,.5);
    box-shadow: inset 0 1px 5px rgba(0,0,0,.3), 0 0 0 rgba(255,255,255,.5);
}

.invoisic-btn.btn-prime {
    background: #444;
    background: -webkit-gradient(linear,left top,left bottom,from(#555),to(#444));
    background: -webkit-linear-gradient(#555,#444);
    background: -o-linear-gradient(#555,#444);
    background: linear-gradient(#555,#444);
    color: #fff;
    font-weight: 700;
}
/*End actions*/